# Copy to application-local.properties (git-ignored) and run with:
#   ./mvnw spring-boot:run -Dspring-boot.run.profiles=local
#
# --- Local MySQL -------------------------------------------------------------
spring.datasource.username=root
spring.datasource.password=

# Folder that already holds the uploaded media referenced by the seed data
app.upload.dir=D:/web nhac/duan1/upload

# Generate your own for anything that is not a local machine
jwt.secret=ThisIsAVeryStrongJwtSecretKeyForMusicApi2026!!!

# --- Aiven (managed MySQL) ---------------------------------------------------
# Uncomment and fill in from the Aiven service page. SSL is mandatory there.
#
# spring.datasource.url=jdbc:mysql://<host>.aivencloud.com:<port>/music_db?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Ho_Chi_Minh&sslMode=REQUIRED
# spring.datasource.username=avnadmin
# spring.datasource.password=<the password shown on the Aiven page>
